/* .card {
  border: none;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
} */

.bg-primary {
  background-color: rgba(85, 110, 230, 0.25) !important;
}

.profile-user-wid {
  margin-top: -26px;
}

.avatar-md {
  height: 4.5rem;
  width: 4.5rem;
}
